* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* global classes */

input:disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.row {
  padding-top: 20px;
}

.table {
  justify-content: center;
}

.table th {
  padding-left: 0;
}

.table td {
  padding-left: 10px;
}

/* <Loading /> */

.loading {
  height: 20px;
  margin: 20px 0;

  animation: progress 1s linear infinite;

  background: linear-gradient(
    -45deg,
    purple 25%,
    transparent 25%,
    transparent 50%,
    purple 50%,
    purple 75%,
    transparent 75%,
    transparent
  );

  background-size: 40px 40px;
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 40px;
  }
}

/* <Checklist /> */

.checklist {
  margin-right: calc(-1rem - 5px);
  flex-wrap: wrap;
  justify-content: center;
}

/* <ChecklistItem /> */

.checklist-item {
  margin-right: 1rem;
}

.checklist-item:hover button {
  position: relative;
  opacity: 0.8;
}

.checklist-item:hover button::after {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: calc(100% - 4rem);

  content: ' ';
  border-bottom: 2px solid gray;
  margin-left: 2rem;
}

/* <Suggestion /> */

.suggestion {
  cursor: pointer;
}

.suggestion:hover,
.suggestion:focus {
  background: #eee;
}

.suggestion:active {
  background: #ddd;
}

/* <RequirementsTable /> */

tr.not-supported td:first-child {
  color: orangered;
}
